<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="/static/bootstrap.min.css" rel="stylesheet">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<title>WhisperX</title>
</head>
<body>
<div class="container">
    <h2>WhisperX</h2>
{#    <form action="/submit" method="post" enctype="multipart/form-data">#}
{#        <div class="mb-3">#}
{#            <input type="text" id="title" class="form-control" aria-describedby="titleHelp" name="title" required>#}
{#            <div id="titleHelp" class="form-text">Title of the audio upload e.g. 'episode 123 of TGN'</div>#}
{#        <div class="mb-3">#}
{#            <input type="file" id="file" class="form-control" aria-describedby="fileHelp" name="file" required>#}
{#            <div id="fileHelp" class="form-text">Upload the audio file</div>#}
{#        </div>#}
{##}
{#        <button class="btn btn-secondary" type="reset" value="Reset">#}
{#            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle"#}
{#                 viewBox="0 0 16 16">#}
{#                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>#}
{#                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>#}
{#            </svg>#}
{#            Reset#}
{#        </button>#}
{#        <button class="btn btn-primary" type="submit" value="Submit">#}
{#            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-journal-text" viewBox="0 0 16 16">#}
{#              <path d="M5 10.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5m0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5"/>#}
{#              <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2"/>#}
{#              <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1z"/>#}
{#            </svg>#}
{#            Begin processing#}
{#        </button>#}
{#    </form>#}

    <div content="mb-3">
        <h3>Previous jobs</h3>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Time</th>
                <th scope="col">Title</th>
                <th scope="col">Status</th>
                <th scope="col">Retry</th>
                <th scope="col">Job details</th>
            </tr>
            </thead>
            <tbody>
            {% for row in job_list %}
            <tr>
                <th scope="row">{{row["ID"]}}</th>
                <td>{{row["timestamp"]}}</td>
                <td>{{row['title']}}</td>
                <td>{{row["status"]}}</td>
                <td><a href="/retry/{{row['job_id']}}">Retry</a></td>
                <td><a href="/job/{{row['job_id']}}">Details</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</body>

</html>
